<div class ="container">
  <h2>Add a Category</h2>
  <form name = "input" action ="/category/new" method = "post">
 
  <label class="label" for="Title">Title</label>
  <input type="text" name="category[title]" placeholder="What to call this?" >
  <br>


  <div class ="submit"> <input type ="submit" value = "Add"> </div>
  </form>
</div>