<div class="container">
  <h1>Welcome to the Internet!</h1>
  <p>Keep the economy rolling</p>
  <table>
    <tr>
      <th>Pick Your Poison</th>
    </tr>
    <%@categories.each do |category|%>
      <tr>
        <td><a href = "/category/<%=category.id%>/<%=category.title%>"><%=category.title%></a></td>
      </tr>
    <%end%>
   </table>
   <br>
   <br>
   <a href = "/category/new">Add a Category to the List!</a>
</div>
